h1{
    border: 10px solid rgb(250,0,0)
}

h1.one{
    border: 10px solid rgb(250,0,0);
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;}

h1.two{
    margin:0;
    border: 10px solid rgb(20, 11, 5);
    position: relative;
    color: cornflowerblue;
    top: 0;
    left: 0;

    width: 250px;
    z-index: 11;
}

h1.three{
    position:fixed;
    top: 0;
    left: 50px;
    width: 250px;
    z-index: 10;
}

span.four{
    width: 700px;
    border: 2px solid black;
    float: left;
}
span.one{
    width: 700px;
    border: 2px solid black;
    float: left;
}
p {
    //width: 300px;
    //height : 1200px;
    //overflow: scroll;
    border: 2px solid rgb(0,0,250);
    //margin-left: 0;
    //padding:0;
}
body{
    //padding-left: 0;
    margin-bottom:0;
    border: 10px solid rgb(0,250,0);
}
html{
    border: 2px solid rgb(250,0,0);
    overflow: auto;
    //margin:0;
    //padding:0;
    //overflow:auto;
}

div{
    border: 10px solid #140b05;
    overflow: auto;
    //width: 100%;
}
.six{
    width:50px;
    height : 50px;
    overflow: scroll;
}