body{

    border:1px solid rgb(255, 202, 40);
    background-image:url("../../Pictures/water-lily-3784022__340.jpeg");
    padding : 10px;
    height:100%;


}

html{
    background-color: black;
}
.hun{
    width: 100%;
}

.bimg{
    background-image:url("../../Pictures/water-lily-3784022__340.jpeg")
}

.flr{
    margin-right: 5px;
    float:right;
    border:2px solid black;
    width: 20%;
}
.fll{
    float:left;
    background-color: rgba(255, 44, 171, 0.41);
    color: darkblue;
    border:1px solid black;
    width:20%;
    margin-left: 5px;
    margin-top: 5px;

    //clear:left;

}
.fli{
    float :inside;
    border:2px solid black;
    width:20%;
}

.fltpar{
    overflow: auto;
    //width:90%;
    //margin:0;
    //padding: 10px;
    //background-image: url("../../Pictures/water-lily-3784022__340.jpeg");
}
div{
    border: 2px solid black;
}

.flimg{
    width:20%;
    float:right;
}
