{% extends 'base.html' %}

{% block content_1 %}
<title>form.html</title>
{% endblock %}

{% block content_2 %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            <td></td>
            <td>{{ form.non_field_errors }}</td>
        </tr>
        <tr>
            <td> {{ form.name.label_tag }} </td>
            <td> {{ form.name }} </td>

        </tr>
        <tr>
            <td></td>
            <td>{{ form.name.errors }}</td>
        </tr>
        <tr>
            <td> {{ form.address.label_tag }} </td>
            <td> {{ form.address }} </td>

        </tr>
        <tr>
            <td></td>
            <td>{{ form.address.errors }}</td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Enter"></td>
        </tr>
    </table>
</form>
{% endblock %}
